<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Все машины</title>
</head>
<body>
<h1>Список машин</h1>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Пробег</th>
        <th>Цена</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${cars}">
        <td th:text="${car.id}">ID</td>
        <td th:text="${car.name}">Имя</td>
        <td th:text="${car.milleage}">Пробег</td>
        <td th:text="${car.price}">Цена</td>
    </tr>
    </tbody>
</table>
<br>
<br>
<br>
<br>
<a href="/cars/create">Добавить машину</a>
</body>
</html>
