<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Все пользователи</title>
</head>
<body>
<h1>Список пользователей</h1>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}">ID</td>
        <td th:text="${user.name}">Имя</td>
        <td th:text="${user.email}">Email</td>
    </tr>
    </tbody>
</table>
<br>
<br>
<br>
<br>
<a href="/users/create">Добавить пользователя</a>
</body>
</html>
